node_modules/
dist/
go/bin/
*.db
*.db-journal
typescript/apps/demo/src/generated/
typescript/packages/queue/test/prisma7/generated/
.DS_Store
typescript/packages/queue/test/sqlite/out
typescript/packages/queue/test/postgres/out
.golem-prospective-*.mod
.golem-prospective-*.sum
